rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /profiles/{phoneKey} {
      allow read, write: if true;
    }
    match /applications/{appId} {
      allow read, write: if true;
    }
    match /savedJobs/{phoneKey} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
